body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

input, button {
  padding: 5px 10px;
  margin-right: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}
